@using SuperBarber.Data.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (HttpContextAccessor.HttpContext.Session.Get<List<ServiceListingViewModel>>(SessionName) != null
        && HttpContextAccessor.HttpContext.Session.Get<List<ServiceListingViewModel>>(SessionName).Any())
        {
            var items = HttpContextAccessor.HttpContext.Session.Get<List<ServiceListingViewModel>>(SessionName).ToList();

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Cart" asp-action="All">Cart (@items.Count)</a>
                </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Cart" asp-action="All">Cart</a>
            </li>
        }

        var userIsAdmin = User.IsInRole(CustomRoles.AdministratorRoleName);
        var userIsBarber = User.IsInRole(CustomRoles.BarberRoleName);

        @if (!userIsAdmin && !userIsBarber)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Barber" asp-action="Add">Become barber</a>
            </li>
        }
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
