@model IEnumerable<ServiceListingViewModel>

<div class="col">
        @if (Model.Any(s => s.Category == "Hair"))
        {
            <div class="row mb-5">
                <h4 class="text-center mb-3 fw-bold">Hair</h4>
                <hr class="mb-5" />
                @foreach (var service in Model.Where(s => s.Category == "Hair"))
                {
                    <partial name="_ServicePartial" model="service" />
                }
            </div>
        }

        @if (Model.Any(s => s.Category == "Face"))
        {
            <div class="row mb-5">
                <h4 class="text-center mb-3 fw-bold">Face</h4>
                <hr class="mb-5" />
                @foreach (var service in Model.Where(s => s.Category == "Face"))
                {
                    <partial name="_ServicePartial" model="service" />
                }
            </div>
        }

        @if (Model.Any(s => s.Category == "Epilation"))
        {
            <div class="row mb-5">
                <h4 class="text-center mb-3 fw-bold">Epilation</h4>
                <hr class="mb-5" />
                @foreach (var service in Model.Where(s => s.Category == "Epilation"))
                {
                    <partial name="_ServicePartial" model="service" />
                }
            </div>
        } 
        
        @if (Model.Any(s => s.Category == "Mix"))
        {
            <div class="row mb-5">
                <h4 class="text-center mb-3 fw-bold">Mix</h4>
                <hr class="mb-5" />
                @foreach (var service in Model.Where(s => s.Category == "Mix"))
                {
                    <partial name="_ServicePartial" model="service" />
                }
            </div>
        }
</div>
