@model IEnumerable<ServiceListingViewModel>

@{
    ViewData["Title"] = $"{Model.FirstOrDefault()?.BarberShopName} services";
    ViewBag.Title = "Services";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">

        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <div asp-validation-summary="ModelOnly" class="text-danger text-center list-error"></div>

        @if (!Model.Any() && User.IsAdmin())
        {
            <div class="container-fluid py-3 text-center">
                <h2 class="display-7 fw-bold mb-4">This barbershop does not have any services</h2>
                <p class="fs-5">Go back to the administrator area</p>
                <a asp-controller="BarberShop" asp-action="All" asp-area="Admin" button class="btn btn-primary btn-lg" type="button">Administrator area</a>
            </div>
        }
        else if (!Model.Any())
        {
            <div class="container-fluid py-3 text-center">
                <h2 class="display-7 fw-bold mb-4">This barbershop does not have any services</h2>
                <p class="fs-5">Check out all the others barbershops and find the best one for you</p>
                <a asp-controller="BarberShop" asp-action="All" button class="btn btn-primary btn-lg" type="button">All Barbershops</a>
            </div>
        }

        <partial name="_ServicesPartial" model="@Model" />

    </div>
</div>


