@model IEnumerable<ServiceListingViewModel>

@{
    ViewData["Title"] = $"{Model.FirstOrDefault()?.ToFriendlyUrl()} manage services";
    ViewBag.Title = "Services";
    ViewBag.CanEdit = true;
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">

        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <div asp-validation-summary="ModelOnly" class="text-danger text-center list-error"></div>

        @if (!Model.Any())
        {
            <div class="container-fluid py-3 text-center">
                <h2 class="display-7 fw-bold mb-4">This barbershop dose not have any services</h2>
                <p class="fs-5">You can add services in the barbershop manage menu</p>
                <a asp-controller="BarberShop" asp-action="Mine" button class="btn btn-primary btn-lg" type="button">My Barbershops</a>
            </div>
        }

        <partial name="_ServicesPartial" model="@Model" />

    </div>
</div>
