@model BarberShopFormModel

@{
    ViewBag.Title = "Edit Barbershop";
    ViewBag.Button = "Edit";
}

<div asp-validation-summary="ModelOnly" class="text-danger text-center list-error"></div>

<partial name="_BarberShopFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}