@page
@model ChangePasswordModel
@{
    ViewBag.Title = "Change password";
}

<div class="row">
    <h2 class="heading-margin">@ViewBag.Title</h2>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="col-md-6">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Input.CurrentPassword" class="form-label">Current password</label>
                <input asp-for="Input.CurrentPassword" class="form-control">
                <span asp-validation-for="Input.CurrentPassword" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.NewPassword" class="form-label">New password</label>
                <input asp-for="Input.NewPassword" class="form-control">
                <span asp-validation-for="Input.NewPassword" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmNewPassword" class="form-label">Confirm new password</label>
                <input asp-for="Input.ConfirmNewPassword" class="form-control">
                <span asp-validation-for="Input.ConfirmNewPassword" class="small text-danger"></span>
            </div>

            <button type="submit" class="btn-submit-big">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
