html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.heading-margin {
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-submit-big {
    background-color: #0d6efd;
    color: white;
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

.card-text {
    margin-bottom: 7px;
}

.card {
    margin-bottom: 12px;
    margin-right: 16px;
}

.btn-search-margin {
    margin-top: 31px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.list-error ul {
    list-style-type: none;
}

.first-last-name-width {
    width: 50%;
}

.anchor-book {
    text-decoration: none
}

    .anchor-book:hover {
        color: white;
    }

.cart-col {
    padding-left: 22%;
}

.anchor-register {
    text-decoration: none
}

.account-menu {
    margin-bottom: 1px;
    margin-top: 1px;
}

.account-menu:hover {
    color: white;
    background-color: #0d6efd;
}

.table-text {
    overflow: auto;
    white-space: nowrap;
}

.btn-manage-padding {
    padding-right: 60px;
    padding-left: 60px;
}