@model List<OrdersListingViewModel>

@{
    ViewData["Title"] = "Orders";
    ViewBag.Title = "Orders";
}

<div class="row">
    <h2 class="heading-margin text-center">@ViewBag.Title</h2>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-text" scope="col">#</th>
                    <th class="table-text" scope="col">Client first name</th>
                    <th class="table-text" scope="col">Client last name</th>
                    <th class="table-text" scope="col">Service name</th>
                    <th class="table-text" scope="col">Price</th>
                    <th class="table-text" scope="col">Date</th>
                    <th class="table-text" scope="col">Cancel order</th>
                </tr>
            </thead>
            <tbody>
                <partial name="_OrdersPartial" model="@Model" />
            </tbody>
        </table>
    </div>
</div>
